.container{
    max-width: 1400px;
    margin: auto;
}

.container h1{
    text-align: center;
    font-size: 3rem;
    color: darkblue;
    padding: 1rem;
}

.container p{
    padding: 1rem 2rem;
    line-height: 25px;
    font-size: 1.3rem;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img{
    width: 400px;
}

.point li{
    font-size: 1.3rem;
    line-height: 30px;
}